/* layout.css */

.container {
    display: flex;
    margin-left: 260px;
    padding: 25px;
    flex-grow: 1;
    min-height: auto;
    flex-direction: column;
    margin-top: 0px;
}

#content {
    flex-grow: 1;
    padding: 35px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-left: 260px;

}

.buttons-group {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.pagination-container {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.pagination-container button {
    padding: 4px 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.pagination-container button[disabled] {
    background: #ccc;
    cursor: not-allowed;
}

.pagination-container .ellipsis {
    padding: 4px 8px;
    color: #888;
    user-select: none;
}

.pagination-container button.active {
    background-color: #ee6969 !important;
    color: #fff;
    font-weight: bold;
}

