/* layout.css */

.container {
    display: flex;
    margin-left: 260px;
    padding: 25px;
    flex-grow: 1;
    min-height: auto;
    flex-direction: column;
    margin-top: 0px;
}

#content {
    flex-grow: 1;
    padding: 35px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-left: 260px;

}

.buttons-group {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}